:root{
    --primary-blue-color:#13A89E;
}

.retailHeading{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
.primaryGradient{
    background: radial-gradient(var(--primary-blue-color) 0%, rgba(19, 168, 158, 0) 100%);
}

.swiper-pagination-bullet-active{
    background: var(--primary-blue-color);
}
.swiper-button-next, .swiper-button-prev{
    color: var(--primary-blue-color);
}